{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Krub:wght@300;600&display=swap" rel="stylesheet">
        <title>Mascoteria las amigas</title>
        <script src="https://kit.fontawesome.com/f308d8c25e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}"> 
    </head>
    <body>
        <div class="header__superior">
            <div class="logo">
                <img src="img/Mascoteca Las Amigas Logotipos2.gif" alt="">
            </div>
            <div class="search">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </div>
        <div class="container__menu">

            <div class="menu">
                <input type="checkbox" id="check__menu">
                <label id="label__check" for="check__menu">
                    <i class="fa-solid fa-bars icon__menu"></i>
                </label>
                <nav>
                    <ul>
                        <li><a href="Index.html">Inicio</a></li>
                        <li><a href="#">Perros</a>
                        <ul>
                            <li><a href="BandanasPerros.html">Bandanas</a></li>
                            <li><a href="CorreasPerros.html">Correas</a></li>
                            <li><a href="IdPerro.html">Identificaciones</a></li>
                            <li><a href="OtrosPerros.html">Otros</a></li>
                            
                        </ul>
                        </li>
                        <li><a href="#">Gatos</a>
                        <ul>
                            <li><a href="#">Bandanas</a></li>
                            <li><a href="#">Correas</a></li>
                            <li><a href="#">Identificaciones</a></li>
                            <li><a href="#">Otros</a></li>
                        </ul>
                        </li>
                        <li><a href="#">Exoticos</a>
                        <ul>
                            <li><a href="#">Bandanas</a></li>
                            <li><a href="#">Correas</a></li>
                            <li><a href="#">Identificaciones</a></li>
                            <li><a href="#">Otros</a></li>
                        </ul>
                        </li>
                        <li><a href="Donaciones.html">Donaciones</a></li>
                        <li><a href="Suscribirse.html">Registrar</a></li>
                    </ul>
                </nav>
            </div>

        </div>
        <footer>
            <nav id="RedesSociales">
                <br>
            <h4>Redes Sociales</h4></a>
            <br>
                    <a href="https://www.instagram.com/"><section><i class='bx bxl-instagram-alt'></i>https://www.instagram.com/</section>
                    </a>
                    <a href="https://www.facebook.com/"><section><i class='bx bxl-facebook-square'></i>https://www.facebook.com/</section>
                    </a>
                    <a href="https://www.twitter.com/"><section><i class='bx bxl-twitter'></i>https://www.twitter.com/</section>
                    </a>
                    <a href="https://www.google.com/maps/@-33.0337944,-71.5328862,19.13z"><section><i class='bx bxs-location-plus'></i>https://www.googlemaps.</section>
                    </a>
            </nav>
            <br>
        </footer>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </body>

</html>